{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Kingdom Genre</title>
    <link rel="shortcut icon" type="img/png" href="https://i.imgur.com/JBAKAYw.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main_design.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167199351-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-167199351-1');
    </script>
</head>

<!-- <body> -->

<body style="background-color: rgba(242, 243, 242);">




    <!-- First Top Bar  -->

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid" src="https://i.imgur.com/tHMTJYf.png" style="width: 80px;">

            </div>
            <div class="col-sm-6 ">

                <h2 style="color: rgba(202, 165, 97, 0.87);">
                    Kingdom Genre~
                    </h3>
            </div>
            <div class="col-sm-2">

                <h6 style="color: rgba(73, 117, 23, 0.993)">Follow Us On</h6>
                <a href="https://www.instagram.com/kingdomgenre/" target="_blank">
                    <img class="img-fluid" style="width: 25px;" src="https://i.imgur.com/CrDLARR.jpg">
                </a>

                <a href="https://www.facebook.com/Kingdom-Genre-105991774616392/" target="_blank">
                    <img class="img-fluid" style="width: 21px;" src="https://i.imgur.com/n8SZcx7.png">
                </a>
            </div>
        </div>
    </div>

    <div class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navebar nav-fill nav-tabs collapse navbar-collapse" id="navbarNav">

            <li class="nav-item">
                <a class="nav-link active" href="/"
                    style="background-color: rgba(224, 179, 52, 0.993);  color: white;">Home</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle text-light active "
                    style="background-color: rgba(224, 179, 52, 0.993); " data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">About Us
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/about">Kingdom Vision</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" style="background-color: rgba(224, 179, 52, 0.993); "
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Sealed
                    Collection</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/sealed_hoodies">Hoodies</a>
                    <a class="dropdown-item" href="/sealed_tshirts">T-shirts</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" style="background-color:rgba(224, 179, 52, 0.993);"
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Kingdom
                    Reigns </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/kingdom_hoodies">Hoodies</a>
                    <a class="dropdown-item" href="/kingdom_tshirts">T-shirts</a>
                </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" style="background-color: rgba(224, 179, 52, 0.993); "
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Christ
                    Cs</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/christ_hoodies">Hoodies</a>
                    <a class="dropdown-item" href="/christ_tshirts">T-shirts</a>
                </div>

            <li class="nav-item">
                <a class="nav-link active" href="/contact_us"
                    style="background-color: rgba(224, 179, 52, 0.993); color: white;">Contact
                    Us</a>
            </li>
        </ul>
    </div>


    <!-- End First top bar  -->

    <!-- 2nd top bar -->


    <ul class="nav navebar  navbar-light bg-light nav-tabs nav-fill nav-tabs">
        <li class="nav-item">
            <h4 style="color: rgba(129, 104, 57, 0.87);"> What is Kingdom Genre? </h4>
        </li>
    </ul>


    <!-- End 2nd top bar -->


    <div class="container mb-5" style="margin-top:30px">
        <br>
        <div class="container d-flex">


            <br>
            <div>
                <img class="img-fluid d-block mb-7" src="https://i.imgur.com/KBRBIY9.png" style="width: 5px;">
            </div>

            <div>
                <h5 style="background: rgba(195, 148, 59, 0.726);width: 980px; padding: 12px;">
                    <br>
                    Remember in art history class when they said that this piece by Rembrandt was from the Baroque
                    period? Or maybe you remember learning the origins of your favorite genre of music? You got the
                    sense that there was a particular artistic profile staple to that creative era. If you were really
                    paying attention, you could even identify the artist, year and style. That's how we can think about
                    Kingdom Genre.
                    <br>
                    <br>We are Kingdom workers, an infantry armed with all mediums. Creating with the profile of God's
                    Kingdom, we will edify our Christian community and evangelize the lost. Furthermore, God being the
                    Creator means we ourselves are excruciating exquisite artwork native to Him. As we embrace this, we
                    are expecting to witness the masterpieces God will produce through us as we also are achieving
                    masterpiece status. Here at Kingdom Genre, we maintain core values of faith in Christ, gospel
                    mission, fun, community, that which is eye-opening, pushes boundaries in an unconventional way!
                    <br>

                    <br> ~Chatelaine Dunord
                    <br> Kingdom Genre
                    <br>
                </h5>
                <div class="container">
                    <img class="mt-3" src="https://i.imgur.com/8rAd8G0.png" style="width: 450px;"> <img class="mt-3"
                        src="https://i.imgur.com/HkxXsIX.png" style="width: 380px;">
                    </a>
                </div>
            </div>
        </div>
    </div>


        <!-- Footer -->

        <div class="jumbotron text-center" style="background-color:rgba(36, 59, 31, 0.555);" style="margin-bottom:0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">

                        <img class="img-fluid mb-6" src="https://i.imgur.com/KBRBIY9.png" style="width: 50pt;">
                        <p style="color:rgba(16, 26, 13, 0.746)" ; font-size:larger;">"He has filled them with skill to
                            do
                            all kinds of work as engravers, designers, embroiderers in blue, purple and scarlet yarn and
                            fine linen, and weavers—all of them skilled workers and designers."</p>
                        <p style="color:rgba(16, 26, 13, 0.746)" ; font-size: large;">Exodus 35:35</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img class="img-fluid mb-1" src="https://i.imgur.com/mQFUIcr.png"
                                        style="width: 100pt;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End footer -->



</html>