{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact Us</title>
    <link rel="shortcut icon" type="img/png" href="https://i.imgur.com/JBAKAYw.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main_design.css' %}">
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
</head>

<!-- <body> -->

<body style="background-color: rgba(242,243,242);">




    <!-- First Top Bar  -->


    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid" src="https://i.imgur.com/tHMTJYf.png" style="width: 80px;">

            </div>
            <div class="col-sm-6 ">

                <h2 style="color: rgba(202, 165, 97, 0.87);">
                    Kingdom Genre~
                    </h3>
            </div>
            <div class="col-sm-2">

                <h6 style="color: rgba(73, 117, 23, 0.993)">Follow Us On</h6>
                <a href="https://www.instagram.com/kingdomgenre/" target="_blank">
                    <img class="img-fluid" style="width: 25px;" src="https://i.imgur.com/CrDLARR.jpg">
                </a>

                <a href="https://www.facebook.com/Kingdom-Genre-105991774616392/" target="_blank">
                    <img class="img-fluid" style="width: 21px;" src="https://i.imgur.com/n8SZcx7.png">
                </a>
            </div>
        </div>
    </div>

    <div class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navebar nav-fill nav-tabs collapse navbar-collapse" id="navbarNav">

            <li class="nav-item">
                <a class="nav-link active" href="/"
                    style="background-color: rgba(224, 179, 52, 0.993);  color: white;">Home</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle text-light active "
                    style="background-color: rgba(224, 179, 52, 0.993); " data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">About Us
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/about">Kingdom Vision</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" style="background-color: rgba(224, 179, 52, 0.993); "
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Sealed
                    Collection</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/sealed_hoodies">Hoodies</a>
                    <a class="dropdown-item" href="/sealed_tshirts">T-shirts</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" style="background-color:rgba(224, 179, 52, 0.993);"
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Kingdom
                    Reigns </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/kingdom_hoodies">Hoodies</a>
                    <a class="dropdown-item" href="/kingdom_tshirts">T-shirts</a>
                </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" style="background-color: rgba(224, 179, 52, 0.993); "
                    data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Christ
                    Cs</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/christ_hoodies">Hoodies</a>
                    <a class="dropdown-item" href="/christ_tshirts">T-shirts</a>
                </div>

            <li class="nav-item">
                <a class="nav-link active" href="/contact_us"
                    style="background-color: rgba(224, 179, 52, 0.993); color: white;">Contact
                    Us</a>
            </li>
        </ul>
    </div>

    <!-- End First top bar  -->

    <!-- 2nd top bar -->

    </div>

    <ul class="nav navebar  navbar-light bg-light nav-tabs nav-fill nav-tabs">
        <li class="nav-item">
            <h3 style="color: green;">Contact Us</h1>
        </li>
    </ul>


    <!-- End 2nd top bar -->

    <div class="container mb-4" style="margin-top:30px">
        <h5 style="color:rgba(21, 61,20, 0.726)">Want to get involved with Kingdom Genre?</h5>


        <div class="container mt-3">
            <h5>
                <a style="color:rgba(11, 31, 11, 0.609)"
        
                    class="mt-3" src="https://i.imgur.com/8rAd8G0.png" style="width: 35px;">
                </a>
                
                </div>
                
                </body>
                </html>
                

            </h5>
            <div class="mt-4">
                <h5 style="color:rgba(175, 164, 17, 0.89)" class="mb-3"> For more information, please contact Chatelaine Dunord: chatelaineddunord@gmail.com
                </h5>
                <div class="container">
                        <img class="mt-3" src="https://i.imgur.com/8rAd8G0.png" style="width: 450px;">           <img class="mt-3" src="https://i.imgur.com/HkxXsIX.png" style="width: 380px;">
                </a>
              
                    </div>
                </div>
                <h5 class="mt-3">
                </h5>
                <br>
                <h6>
                    
                </h6>
            </div>
        </div>




        <!-- Form -->
        <!-- 
            <form method="POST" class="mt-2">
                {% csrf_token %} 
                <div class="form-row">
                    <div class="col">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" placeholder="Please type your name" required>
                    </div>
                    <div class="col">
                        <label for="school">School</label>
                        <input type="text" class="form-control" placeholder="Please list your School" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com" required>
                </div>

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="city">City</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="state">State</label>
                        <select class="state form-control" required>
                            <option selected disabled value="">Select below
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="message">Please write message below</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"
                        placeholder="Start message here:" required></textarea>
                </div>
                <button type="button" class="btn btn-success" data-toggle="button" aria-pressed="false">Submit</button>
            </form>
            <br>-->
    </div>
    <!-- End Form -->





<!-- Footer  -->
<div class="jumbotron text-center" style="background-color:rgba(36, 59, 31, 0.555);" style="margin-bottom:0">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">

                <img class="img-fluid mb-6" src="https://i.imgur.com/KBRBIY9.png" style="width: 50pt;">
                <p style="color:rgba(16, 26, 13, 0.746)" ; font-size:larger;">"He has filled them with skill to do
                    all kinds of work as engravers, designers, embroiderers in blue, purple and scarlet yarn and
                    fine linen, and weavers—all of them skilled workers and designers."</p>
                <p style="color:rgba(16, 26, 13, 0.746)" ; font-size: large;">Exodus 35:35</p>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <img class="img-fluid mb-1" src="https://i.imgur.com/mQFUIcr.png" style="width: 100pt;">
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>