{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>"Kingdom Reigns" Shirts</title>
  <link rel="shortcut icon" type="img/png" href="https://i.imgur.com/JBAKAYw.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/main_design.css' %}">
  <style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }
  </style>
</head>

<!-- <body> -->

<body style="background-color: rgba(242, 243, 242);">




  <!-- First Top Bar  -->


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img class="img-fluid" src="https://i.imgur.com/tHMTJYf.png" style="width: 80px;">

      </div>
      <div class="col-sm-6 ">

        <h2 style="color: rgba(202, 165, 97, 0.87);">
          Kingdom Genre~
          </h3>
      </div>
      <div class="col-sm-2">

        <h6 style="color: rgba(73, 117, 23, 0.993)">Follow Us On</h6>
        <a href="https://www.instagram.com/kingdomgenre/" target="_blank">
          <img class="img-fluid" style="width: 25px;" src="https://i.imgur.com/CrDLARR.jpg">
        </a>

        <a href="https://www.facebook.com/Kingdom-Genre-105991774616392/" target="_blank">
          <img class="img-fluid" style="width: 21px;" src="https://i.imgur.com/n8SZcx7.png">
        </a>
      </div>
    </div>
  </div>

  <div class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navebar nav-fill nav-tabs collapse navbar-collapse" id="navbarNav">

      <li class="nav-item">
        <a class="nav-link active" href="/" style="background-color: rgba(224, 179, 52, 0.993);  color: white;">Home</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle text-light active " style="background-color: rgba(224, 179, 52, 0.993); "
          data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Us
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/about">Kingdom Vision</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" style="background-color: rgba(224, 179, 52, 0.993); "
          data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Sealed
          Collection</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/sealed_hoodies">Hoodies</a>
          <a class="dropdown-item" href="/sealed_tshirts">T-shirts</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" style="background-color:rgba(224, 179, 52, 0.993);"
          data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Kingdom
          Reigns </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/kingdom_hoodies">Hoodies</a>
          <a class="dropdown-item" href="/kingdom_tshirts">T-shirts</a>
        </div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" style="background-color: rgba(224, 179, 52, 0.993); "
          data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Christ
          Cs</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/christ_hoodies">Hoodies</a>
          <a class="dropdown-item" href="/christ_tshirts">T-shirts</a>
        </div>

      <li class="nav-item">
        <a class="nav-link active" href="/contact_us"
          style="background-color: rgba(224, 179, 52, 0.993); color: white;">Contact
          Us</a>
      </li>
    </ul>
  </div>


  <!-- End First top bar  -->
  <div id='collection-component-1612472578416'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'kingdom-genre.myshopify.com',
      storefrontAccessToken: 'ed9916c7110302a280293c214480028d',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('collection', {
        id: '243821314239',
        node: document.getElementById('collection-component-1612472578416'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px",
          "width": "calc(25% - 20px)"
        },
        "img": {
          "height": "calc(100% - 15px)",
          "position": "absolute",
          "left": "0",
          "right": "0",
          "top": "0"
        },
        "imgWrapper": {
          "padding-top": "calc(75% + 15px)",
          "position": "relative",
          "height": "0"
        }
      }
    },
    "buttonDestination": "checkout",
    "text": {
      "button": "Buy now"
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      }
    },
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {},
  "cart": {
    "text": {
      "total": "Subtotal",
      "button": "Checkout"
    }
  },
  "toggle": {}
},
      });
    });
  }
})();
/*]]>*/
</script>


  

  <!-- End 2nd top bar -->

  <h5 style="color: rgb(66, 119, 66);">“The kingdom of the world has become the kingdom of our Lord and of His Christ; and He will reign forever and ever.”

  </h5>
    <!-- Footer  -->
    <div class="jumbotron text-center" style="background-color:rgba(36, 59, 31, 0.555);" style="margin-bottom:0">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">

            <img class="img-fluid mb-6" src="https://i.imgur.com/KBRBIY9.png" style="width: 50pt;">
            <p style="color:rgba(16, 26, 13, 0.746)" ; font-size:larger;">"He has filled them with skill to do all kinds
              of work as engravers, designers, embroiderers in blue, purple and scarlet yarn and fine linen, and
              weavers—all of them skilled workers and designers."</p>
            <p style="color:rgba(16, 26, 13, 0.746)" ; font-size: large;">Exodus 35:35</p>
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <img class="img-fluid mb-1" src="https://i.imgur.com/mQFUIcr.png" style="width: 100pt;">
                </div>
              </div>
            </div>
          </div>
          <!-- End footer -->

</body>

</html>